<div class="entry card">
  <div class="card-header">
    <h2>Edit Entry</h2>
  </div>
  <form id="edit-entry-form" class="card-body">
    <input type="hidden" name="entry-id" value="{{entry.id}}" />

    <label class="form-label" for="entry-title">Title</label>
    <input type="text" name="entry-title" value="{{entry.title}}" class="form-input" />

    <label class="form-label" for="entry-body">Content</label>
    <textarea name="entry-body" class="form-input">{{entry.body}}</textarea>

    <button type="submit" class="btn">Update</button>

    <button type="button" id="delete-entry-btn" class="btn">Delete</button>
  </form>
</div>

<script src="../public/js/editEntry.js"></script>
