{{#extends "main"}}
{{#block "body"}}
<section class="section">
  <div class="container">
    <h2 class="title">Home Page</h2>
    <p class="subtitle">Welcome to Track Your Travels! The perfect place to document your travel stories.</p>
  </div>
{{/block}}