<section class="section">
  <div class="container">
    <h2 class="title">Welcome to Track Your Travels! The perfect place to document your travel stories.</h2>

    <div class="logo-container">
      <img src="/images/TrackYourTravels.png" alt="Track Your Travels Logo" class="logo-image">
    </div>
    
    {{!-- Container for cards --}}
    <div class="columns">
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-blue">
            <p class="card-title">Create</p>
          </div>
          <div class="card-content">
            <p class="content">Easily add new travel entries to document your journeys and experiences! You can create a title, description, and save the specific location of your adventures. </p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-green">
            <p class="card-title">Collect</p>
          </div>
          <div class="card-content">
            <p class="content">Organize and view all your travel entries in one convenient collection! An excellent way to look back on the memories you made during your travels abroad.</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-red">
            <p class="card-title">Edit</p>
          </div>
          <div class="card-content">
            <p class="content">If you made a small mistake in your entries, no worries! All of your entries can be edited to make sure that you can keep an accurate account of your experiences.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
