{{#extends "main"}}
{{#block "body"}}
<section class="section">
  <div class="container">
    <h2 class="title">Login</h2>
    <form action="/login" method="POST">
      <div class="field">
        <label class="label" for="email">Email:</label>
        <div class="control">
          <input class="input" type="email" id="email" name="email" required>
        </div>
      </div>
      <div class="field">
        <label class="label" for="password">Password:</label>
        <div class="control">
          <input class="input" type="password" id="password" name="password" required>
        </div>
      </div>
      <div class="control">
        <button class="button is-primary" type="submit">Login</button>
      </div>
    </form>
    <p class="mt-3"><a href="/register">Create an account</a></p>
  </div>
</section>
{{/block}}