<div class="card">
  <div class="card-header">
    <h2>Sign Up</h2>
  </div>
  <div id="signup" role="tabpanel">
    <form id="signup-form" class="card-body">
      <div>
        <label for="email-signup" class="form-label">Email</label>
        <input type="email" id="email-signup" name="email"/>
      </div>
      <div>
        <label for="password-signup" class="form-label">Password</label>
        <input type="password" id="password-signup" name="password"/>
      </div>
      <button type="submit" id="signup-btn" class="btn">Signup!</button>
      <a href="/login">Login instead</a>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>