<section class="section">
  <div class="container">
    <h2 class="title">Travel Tips</h2>
    <div class="columns is-multiline">
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-blue">
            <p class="card-title">Bring a Portable Charger</p>
          </div>
          <div class="card-content">
            <p class="content">Always carry a portable charger with you! You never know when you're going to need directions in an unfamiliar place, so keeping your phone charged is a must.</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-green">
            <p class="card-title">Try the Local Language</p>
          </div>
          <div class="card-content">
            <p class="content">Learn basic phrases in the local language so that you can communicate with locals. You don't need to be fluent, but showing the effort goes a long way!</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-red">
            <p class="card-title">Live In the Moment</p>
          </div>
          <div class="card-content">
            <p class="content">Pictures are great and are an excellent way to document your memories! However, don't forget to immerse yourself in the experience as well.</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-yellow">
            <p class="card-title">Stay Rested and Hydrated</p>
          </div>
          <div class="card-content">
            <p class="content">You're going to need your energy to get the most out of your travels. Make sure that you get enough sleep and hydration to be ready for the day!</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-orange">
            <p class="card-title">Get to the Airport Early</p>
          </div>
          <div class="card-content">
            <p class="content">Getting through the airport is not a quick process. If you're taking flight to your destination, make sure you give yourself plenty of time.</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card home-card">
          <div class="home-card-header header-purple">
            <p class="card-title">Make a Packing Checklist</p>
          </div>
          <div class="card-content">
            <p class="content">You never want to find yourself hundreds of miles from home without something important! Make a checklist of what you need before you go to play it safe.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>