.map-container {
    width: 100%;
    height: 400px; 
    position: relative;
}

.home-card-header {
    padding: 1rem; 
    text-align: center;
    color: black;
    font-weight: bold; 
    margin-bottom: 1rem;
    background-color: inherit; 
}

.main-header {
    background-color: rgb(5, 44, 36);
}

.header-blue {
    background-color: lightblue;
}

.header-green {
    background-color: lightgreen;
}

.header-red {
    background-color: lightcoral;
}

.header-yellow {
    background-color: rgb(248, 248, 154);
}

.header-orange {
    background-color: #e7a466;
}

.header-purple {
    background-color: rgb(160, 160, 224);
}

.title {
    text-align: center;
    margin-bottom: 2rem;
}

.card-title {
    font-size: 1.5rem; 
    margin: 0; 
    text-align: center; 
}

.logo-container {
    text-align: center; 
    margin: 2rem 0; 
}

/* Style for the logo image */
.logo-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
}

/* Styles specific to home page cards */
.home-card {
    border: 1px solid black; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); 
    transition: box-shadow 0.3s ease; 
    margin: 0 auto; 
}

.home-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
}

.card-content p {
    text-align: center; 
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.navbar-item {
    color: white; 
}

.navbar-item img {
    margin-right: 10px; 
}

.navbar-text {
    color: white; 
}

/* Sign-up card styling */
.signup-card {
    width: 70%; 
    max-width: 600px; 
    margin: 2rem auto; 
    padding: 1.5rem; 
}

/* Sign-up card header styling */
.signup-card-header {
    background-color: #007bff; 
    padding: 1rem; 
    border-bottom: 1px solid #ddd; 
}

.signup-title {
    font-size: 1.5rem; 
    margin: 0; 
    text-align: center; 
    color: white;
}

/* Form styling */
.signup-form {
    padding: 1rem; 
}

/* Form group styling */
.form-group {
    margin-bottom: 1rem; 
}

.form-label {
    display: block; 
    margin-bottom: 0.5rem; 
}

.form-input {
    width: 100%; 
    padding: 0.5rem; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
}

/* Button styling */
.signup-btn {
    display: block; 
    width: 100%; 
    padding: 0.75rem; 
    background-color: #007bff; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    font-size: 1rem; 
    cursor: pointer; 
    margin-top: 1rem; 
}

.signup-btn:hover {
    background-color: #0056b3; 
}

/* Link styling */
.signup-link {
    display: block; 
    margin-top: 1rem; 
    text-align: center; 
}
