<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track Your Travels</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>
            Track Your Travels
        </h1>
        {{#if logged_in}}
        <nav>
            <button class="btn" id="logout">Log Out</button>
        </nav>
        {{else}}
        <nav>
            <a href="/login" class="btn">Log In</a>
            <a href="/signup" class="btn">Sign Up</a>
        </nav>
        {{/if}}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>&copy; 2024 Track Your Travels</p>
    </footer>
    {{#if logged_in}}
    <script src="/public/js/logout.js"></script>
    {{/if}}
</body>

</html>