<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Track Your Travels</title>
  <link rel="icon" href="/images/TrackYourTravels.png" type="image/png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/css/style.css">
    <style>
    html, body {
      height: 100%;
      margin: 0;
      background-color: rgb(188, 210, 218);
    }
    .container {
      min-height: calc(100vh - 4rem); 
      display: flex;
      flex-direction: column;
    }
    .footer {
      background-color: rgb(5, 44, 36); 
      color: #ffffff; 
      padding: 1rem; 
      text-align: center; 
      position: relative;
      width: 100%;
      bottom: 0;
    }
  </style>
</head>

<body>
    <header class="navbar main-header">
        <div class="navbar-brand">
            <!-- Logo Image -->
            <a class="navbar-item" href="/">
                <img src="/images/TrackYourTravels.png" alt="Logo" style="height: 40px;">
                <span class="navbar-text">Track Your Travels - Home</span>
            </a>
        </div>
        <div class="navbar-menu">
            <div class="navbar-start">
                {{#if logged_in}}
                <div class="navbar-item">
                    <a href="/newEntry" class="button is-light">Add Entry</a>
                </div>
                <div class="navbar-item">
                    <a href="/collection" class="button is-light">Your Collection</a>
                </div>
                <div class="navbar-item">
                    <a href="/travelTips" class="button is-light">Travel Tips</a>
                </div>
                {{/if}}
            </div>
            <div class="navbar-end">
                {{#if logged_in}}
                <div class="navbar-item">
                    <button id="logout" class="button is-light">Logout</button>
                </div>
                {{else}}
                <div class="navbar-item">
                    <a href="/login" class="button is-light">Login</a>
                </div>
                <div class="navbar-item">
                    <a href="/signup" class="button is-light">Register</a>
                </div>
                {{/if}}
            </div>
        </div>
    </header>
    <main class="container mt-5">
        {{{ body }}}
    </main>
    <footer class="footer has-text-white-ter">
        <div class="content has-text-centered">
            <p>&copy; 2024 Track Your Travels</p>
        </div>
    </footer>
    <script src="/js/logout.js"></script>
</body>

</html>